@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EFF0E8;
    color: #50D67B;
    font-family: 'Anton', sans-serif;
    font-display: swipe;
}

h1,
h2 {
    font-weight: 100;
}

h1 {
    font-size: 2em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
}

.content {
    display: grid;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 3px;
    margin-top: 1.5em;
}

input {
    border: none;
    border-radius: 2px;
    padding: 0.5em 0.5em;
}

.active {
    fill: #52d57e;
}

.urna-container {
    width: clamp(300px, 80vw, 800px);
    margin-top: 1em;
}

.urna-svg {
    width: 100%;
}

/* buttons */
#retangle1, #retangle2, #retangle3, #retangle4, #retangle5, #retangle6, #retangle7, #retangle8, #retangle9, #retangle10 {
    cursor: pointer;
}

#number1, #number2, #number3, #number4, #number5, #number6, #number7, #number8, #number9, #number10 {
    cursor: pointer;
} 


#enviar {
    cursor: pointer;
}

header {
    width: 100vw;
    height: 3.5em;
    border-bottom: 1px solid rgba(64, 52, 52, 0.2);
}

.faixa-valores {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #33513B;
}

.faixa-valores li {
    list-style: none;
}

.faixa-valores img {
    width: 32px;
    height: 32px;
}

/* fim image */
#fim {
    display: none;
}
